body {
    /* CODE GOES HERE */
        font-family: "Times New Roamn";
}

.btn-primary
{
    background-color: palevioletred;
    border-color:transparent;
    color:black;
}

#menu .active
{
    background-color: orange !important;
    color:black !important;
}